form {
    display: flex;
    justify-content: center;
}

#input, #k, #inputDec, .parDecrypt, #keyP, #keyQ, #keyD {
    width: 40%;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
}

#k {
    width: 10%;
}

#keyD, #keyP, #keyQ {
    width: 8%;
}

button, p, #parEncrypt, .parDecrypt {
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    border-radius: 15px;
    border: 2px solid black;
}

p, #parEncrypt, .parDecrypt {
    width: 60%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.heading {
    font-size: 20px;
    padding: 10px;
    font-size: 25px;
    border: none;
    width: 100%;
    text-align: center;
}





